

body {
  background-color: solid #dad7d4;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: inherit;
}

a {
  text-decoration: none;
}
