.explore {
  display: flex;
  width: 90%;
  padding-top: 50px;
}

.category-toggles{
  width: 200px;
  padding: 0 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
}


.category-toggles > a {
  margin: 15px;
  color: #353535;
  font-size: 36px;
}

.category-toggles > a:hover {
  color: #05af3c;
}


.category-render {
  margin-top: 100px;
  width: 1200px;

}

.category-list {
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.category-list > * {
  margin-left: 70px;
}

.category-list > *:first-of-type {
  margin-left: 0;
}

.category-green {
  color: #05af3c;
  margin: 50px 0;
}
