.full-project-create {

  background-color: #ece7e7;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #f7f5f5;
}

.content-container {
  width: 50%;
  margin-top: 10%;
  margin: auto;
  align-items: center
}

.full-header {
  margin-top: 25%;
}
