.full-project-create {

  background-color: #ece7e7;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #f7f5f5;
}

.content-container {
  width: 75%;
  margin: 0 auto;
  background: white;
}

.page-header {
  padding: 70px 0;
  width: 75%;
  margin: 60px auto auto auto;
  align-items: center;
}

.page-header h1, h2 {
  color: #353535;
  text-align: center;
}
.page-header h2 {
  font-size: 22px;
  font-weight: 300;
}

.form-sub-box {
  width: 635;
  height: 175;
  background: #f8f9fd;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}
