.full-project-create {

  background-color: #ece7e7;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #f7f5f5;
}


.content-container {
  width: 930px;
  margin: 0 auto;
  background: white;
  border: 1px solid #dcdedd;
}

.page-header {
  padding: 70px 0;
  width: 930px;
  margin: 60px auto auto auto;
  align-items: center;
}

.page-header h1, h2 {
  color: #353535;
  text-align: center;
}
.page-header h2 {
  font-size: 22px;
  font-weight: 300;
}

.form-sub-box {
  // height: 175px !important;
  background: #f8f9fd;
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.form-sub-box h3 {
  display: block;
  width: 25%;
  padding: 0 15px;
  font-size: 13px;
}

.form-sub-box text {
  font-size: 12px;
  font-weight: 400;
  width: 90%;
  padding: 15px 0;
}

.right-box {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-start;

}

.right-box input, select {
  border-radius: 6px;
  margin: 5px 5px 5px 0;
  height: 43px;
  box-sizing: border-box;
  padding: 12px;
  // width: 95%;
  line-height: 17px;
  background: white;
  border: 1px solid #dad7d4;
}
.toggle-bar {
  width: 65px;
  height: 230px;
  margin: 100px auto 70px auto;
}
