
.logo {
  align-self: center;
  margin-top: 15px;
  font-size: 30px;
}

.logo:hover {
  cursor: pointer;
}

.logo-image {
  position: relative;
  width: 175px;
  margin-top: 10px;
  margin-left: 90px;
}

.nav-bar {
  position: fixed;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: -20px;
  width: 99%;
  height: 50px;
  box-shadow: 2px 2px 5px #bbadad;
}
.right-nav {
  width: 40%;
  height: 129%;
}


.right-nav > ul > li a {
  color: black;
}
.left-nav {
  margin-left: -35px;
  width: 35%;
  height: 129%;
}

.fa-search:hover {
  color: #a2a2a2;
}

.nav-item:hover{
  border-bottom: 3px solid #2bde73;
}
.nav-item {
  border-bottom: 3px solid white;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:hover {
  cursor: pointer;
}
.left-nav > ul > li a,
.right-nav > ul > li a {
  padding-bottom: 19px;
}

.right-nav > ul > li {
  padding-right: 10;
}


.left-nav > ul > li {
  padding-right: 40px;
}
.explore-button {
  padding-left: 0;
  padding-right: 9px;
}

.create-proj {
  padding-left: 0px;
  padding-right: 35px;
}
.login-link {
  width: 42px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 45px;
}

.signup-link {
  width: 51px;
  padding-left: 0;
  padding-right: 0;
}

ul {
  white-space:nowrap;
}

.right-nav ul,
.left-nav ul {
    list-style-type: none;
}

.left-nav ul {
    display: flex;
}
.right-nav ul {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

li  {
  align-self: center;
}

.fa-compass {
  color: #05af3c;
  padding-right: 6px;
  font-size: 18px;
}

li a {
    color: #4a4141;
    display: block;
    width: 60px;
    padding: 10px;
    font-size: 15px;
}

.user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.compass {
  color: black;
}


//

body {
	background: #DDD;
	font-size: 15px;
}

#wrap {
  display: inline-block;
  position: relative;
  height: 50px;
  /* float: right; */
  padding: 0;
  margin-top: -20px;
}

.search-input {
  height: 60px;
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search-input:focus:hover {
  border-bottom: 1px solid #bbb;
}

.search-input:focus {
    z-index: 1;
    border-bottom: 1px solid #bbb;
    cursor: text;
    width: 380px;
    height: 50px;
}
.search-submit {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  margin-right: 35px;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity -.8s ease;
}

.search-submit:hover {
  opacity: 0.8;
}
