
.logo {
  align-self: center;
  margin-top: 15px;
  font-size: 30px;
}

.logo:hover {
  cursor: pointer;
}

.logo-image {
  position: relative;
  width: 175px;
  margin-top: 10px;
  margin-left: 90px;
}

.nav-bar {
  // position: fixed;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: -20px;
  // width: 99%;
  height: 50px;
  box-shadow: 2px 2px 5px #bbadad;
}
.right-nav {
  width: 40%;
  height: 129%;
}


.right-nav > ul > li a {
  color: black;
}
.left-nav {
  margin-left: -35px;
  width: 35%;
  height: 129%;
}

.fa-search:hover {
  color: #a2a2a2;
}

.nav-item:hover{
  border-bottom: 3px solid #2bde73;
}
.nav-item {
  border-bottom: 3px solid white;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:hover {
  cursor: pointer;
}
.left-nav > ul > li a,
.right-nav > ul > li a {
  padding-bottom: 19px;
}

.right-nav > ul > li {
  padding-right: 10;
}


.left-nav > ul > li {
  padding-right: 40px;
}
.explore-button {
  padding-left: 0;
  padding-right: 9px;
}

.create-proj {
  padding-left: 0px;
  padding-right: 35px;
}
.login-link {
  width: 42px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 45px;
}

.signup-link {
  width: 51px;
  padding-left: 0;
  padding-right: 0;
}

ul {
  white-space:nowrap;
}

.right-nav ul,
.left-nav ul {
    list-style-type: none;
}

.left-nav ul {
    display: flex;
}
.right-nav ul {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

li  {
  align-self: center;
}

.fa-compass {
  color: #05af3c;
  padding-right: 6px;
  font-size: 18px;
}

li a {
    color: #4a4141;
    display: block;
    width: 60px;
    padding: 10px;
    font-size: 15px;
}

.user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.compass {
  color: black;
}
