.home-page {
  overflow: auto;
}




.project-index-container {
  width: 100%;
  margin: 0px;
  margin-left: -2%;
}

.project-index-container:hover{
  // width: 1250px;
  cursor: pointer;
}

.project-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10%;
  list-style-type: none;
}
.project-index > li {
  width: 30%;
}

.project-index-item {
  width: 390;
  height: 600px;
  margin-top: 5%;
  border: 1px solid white;
  box-shadow: 2px 2px 2px #bbadad, -2px 2px 2px #bbadad;
}

.preview-image {
  width: 100%;
  height: 260px;
  margin-left: -11px;
  margin-top: -10px;
}

.preview-wrapper {
  width: 101%;
  height: 100%;
  margin: auto;
}
.creator {
  display: flex;
}
.preview-stat {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-element {
  padding: 10px;
  padding-left: 5%;
  height: auto;
  word-wrap: break-word;
}


.heavy {
  font-weight: bold;
  padding-right: 3px;
}

.light {
  font-weight: 400;
  color: gray;
}
.preview-funding-bar {
  width: 85%;
  margin-left: 5%;
}

.carousel {
  height: 700px;
  width: 100%;
}

.slick-slide {
  height: 700px !important;
  width: 100%;
}

.index-header {
  padding-top: 3%;
  padding-left: 12%;
  margin-bottom: -10%;
}

.carousel-image {
  object-fit: fill;
}

.thumb {
  border-radius: 50%;
}

.creator {
  padding: 20px;
}



//
// $('.carousel-slide').slick({
//       prevArrow:"<img class='a-left control-c prev slick-prev' src='../images/shoe_story/arrow-left.png'>",
//       nextArrow:"<img class='a-right control-c next slick-next' src='../images/shoe_story/arrow-right.png'>"
//   });
