

.show-background {
  display: flex;
  justify-content: center;
  background-color: #fbfbfa;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.title {
  font-weight: 500;
  color: #353535;
  font-size: 30px;
  line-height: 4.2rem;
}

.headline {
  width: 1000px;
}

.creator-area {
  // margin: 0 115px 0 -65;
}

.content-subsection {
  display: flex;
  margin: 90px 0 50px 0;
}


.header {
  height: 215px;

}
.project-image{
  width: 750px;
  height: 425px;
  border: 2px solid gray;
}
.project-stats {
  list-style-type: none;
  padding: 0 30px;
  width: 275px;
}
.project-stats > li {
  padding-bottom: 15px;
}

.backer-button {
  // align-items: center;
  height: 43px;
  box-sizing: border-box;
  padding: 12px;
  width: 348px;
  line-height: 17px;
  background: white;
  color: white;
  border: 0px white;
  background-color: #25CB68;
  border-radius: 6px;
}

.backer-button:hover {
  cursor: pointer;
  background-color: #05af3c;
}

.stat {
  font-weight: 500;
  font-size: 20px;
}

.stat-line {
  color: gray;
  font-weight: 200;
}

.shadowed-green {
  box-shadow: inset 0px 0px 0px 1px #05AF3C;
}

.green {
  color: #05af3c;
}

.footer {
  font-size: 15px;
}
.lower {
  justify-content: space-between !important;
}
