

.show-background {
  display: flex;
  justify-content: center;
  background-color: #fbfbfa;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.title {
  font-weight: 500;
  color: #353535;
  font-size: 30px;
}

.headline {
  width: 1000px;
}

.creator-img {
  border-radius: 50%;
  width: 35px;
  height: auto;
}

.content-subsection {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}



.header {
  height: 150px;
  width: 1000px;
  margin: 150px auto 0 170px;
  display: flex;
  justify-content: space-between;
}
.project-image{
  width: 820px;
  height: 460px;
  border: 2px solid gray;
  margin-right: 35px;
}
.image {
  // object-fit: contain;
  width: 100%;
  height: auto;
}
.project-stats {
  list-style-type: none;
  padding: 0 30px;
  width: 275px;
}
.project-stats > li {
  padding-bottom: 15px;
}

.backer-button {
  // align-items: center;
  height: 43px;
  box-sizing: border-box;
  padding: 12px;
  width: 348px;
  line-height: 17px;
  background: white;
  color: white;
  border: 0px white;
  background-color: #25CB68;
  border-radius: 6px;
}

.backer-button:hover {
  cursor: pointer;
  background-color: #05af3c;
}

.stat {
  font-weight: 500;
  font-size: 20px;
}

.stat-line {
  color: gray;
  font-weight: 200;
}

.shadowed-green {
  box-shadow: inset 0px 0px 0px 1px #05AF3C;
}

.green {
  color: #05af3c;
}

.footer {
  font-size: 15px;
  width: 350;
  height: auto;
  word-wrap: break-word;
}
.lower {
  margin: 0 auto;
  margin-top: 140px;
  padding-top: 40px;
  border-top: 1px solid #f1eeea;
  width: 1500px;
  justify-content: space-around !important;
  background: white;
}

.details {
  width: 750px;
}

.details-box {
  margin-left: 85px;
}


h2 {
  font-weight: normal;
  text-align: left;
}

.funding-bar {
  width: 350px;
  height: auto;
  padding-top: 0;
}
