.home-page {
  overflow: auto;
  background: white;
}




.project-index-container {
  width: 100%;
  margin: 0px;
  margin-left: -2%;
}

.project-index-container:hover{
  // width: 1250px;
  cursor: pointer;
}

.project-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10%;
  list-style-type: none;
}

.project-index-item {
  width: 390px;
  height: 565px;
  margin: 5% auto 0 auto;
  border: 1px solid white;
  box-shadow: 2px 2px 2px #bbadad, -2px 2px 2px #bbadad;
}

.preview-image {
  width: 99.5%;
  height: 260px;
  margin-left: -11px;
  margin-top: -10px;
  object-fit: cover;
}

.preview-wrapper {
  width: 101%;
  height: 100%;
  // margin: auto;
}
.creator {
  display: flex;
  justify-content: center;
  width: 160px;
}

.creator-name {
  height: 20px;
  margin-top: 15%;
}

.preview-stat {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-element {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  height: auto;
  white-space: pre-wrap;
}


.text-element > text {
  width: 90%;
}

.heavy {
  font-weight: bold;
  padding-right: 3px;
}

.light {
  font-weight: 400;
  color: gray;
}
.preview-funding-bar {
  width: 85%;
  margin-left: 5%;
}

.carousel {
  height: 700px;
  width: 100%;
}

.slick-slide {
  height: 700px !important;
  width: 100%;
}

.index-header {
  padding-top: 3%;
  padding-left: 12%;
  margin-bottom: -10%;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.thumb {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}






//
// $('.carousel-slide').slick({
//       prevArrow:"<img class='a-left control-c prev slick-prev' src='../images/shoe_story/arrow-left.png'>",
//       nextArrow:"<img class='a-right control-c next slick-next' src='../images/shoe_story/arrow-right.png'>"
//   });
